@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
html, body {
  margin: 0;
  padding: 0;
}

header {
  height: 800px;
  color: white;
  background-color: white;
  background-image: url(./resources/images/photos/image-header.jpg);
  background-size: auto 100%;
  background-position: center;
  margin: 0;
}
header .haut {
  padding: 5vw;
  display: flex;
  justify-content: space-between;
}
header .haut ul {
  display: none;
}
header h1 {
  text-align: center;
  font-family: Fraunces, serif;
  font-size: 3em;
  letter-spacing: 6.25px;
  padding-top: 10vw;
}
header .arrow {
  display: block;
  margin: auto;
  height: 150px;
}

.bloc_image {
  width: 100vw;
}
.bloc_image img {
  width: 100%;
}

.bloc_texte {
  padding: 10vw 5vw 10vw 5vw;
  text-align: center;
}
.bloc_texte h2 {
  font-family: Fraunces, serif;
  font-size: 3em;
  color: #24303E;
}
.bloc_texte p {
  font-family: Barlow, serif;
  font-size: 1.4em;
  letter-spacing: -0.12;
  line-height: 33px;
  color: #808397;
}
.bloc_texte .lien {
  font-family: Fraunces, serif;
  font-size: 1.4em;
  text-transform: uppercase;
  line-height: 100px;
  color: #24303E;
}

.photo_texte {
  text-align: center;
}
.photo_texte .bloc_texte_image1 {
  height: 730px;
  background-image: url(./resources/images/photos/image-graphic-design-cerises.jpg);
  background-position: center;
  background-size: cover;
  color: #24554A;
}
.photo_texte .bloc_texte_image1 h3 {
  font-family: Fraunces, serif;
  font-size: 1.75em;
  padding-top: 500px;
  margin: 0;
}
.photo_texte .bloc_texte_image1 p {
  padding-left: 30px;
  padding-right: 30px;
  font-family: Barlow, serif;
  font-size: 1em;
  line-height: 1.6875em;
  letter-spacing: -0.11;
}
.photo_texte .bloc_texte_image2 {
  height: 730px;
  background-image: url(./resources/images/photos/image-photography-mandarine.jpg);
  background-position: center;
  background-size: cover;
  color: #19536C;
}
.photo_texte .bloc_texte_image2 h3 {
  font-family: Fraunces, serif;
  font-size: 1.75em;
  padding-top: 500px;
  margin: 0;
}
.photo_texte .bloc_texte_image2 p {
  padding-left: 30px;
  padding-right: 30px;
  font-family: Barlow, serif;
  font-size: 1em;
  line-height: 1.6875em;
  letter-spacing: -0.11;
}

.photo {
  width: 72px;
  border-radius: 36px;
}

.testimonials {
  text-align: center;
}
.testimonials h4 {
  font-family: Fraunces, serif;
  text-transform: uppercase;
  color: #A7AAAD;
  letter-spacing: 4px;
  padding: 45px;
}
.testimonials p {
  color: #5B636D;
  font-family: Barlow, serif;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: -0.12px;
  padding-left: 30px;
  padding-right: 30px;
}
.testimonials .nom {
  color: #24303E;
  font-family: Fraunces, serif;
  font-size: 1.125em;
  margin: 0px;
  padding: 0px;
}
.testimonials .fonction {
  font-family: Barlow, serif;
  font-size: 0.875em;
  color: #A7AAAD;
  padding: 0px;
  margin: 0px 0px 45px 0px;
}/*# sourceMappingURL=style.css.map */