@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

html, body{ 
	margin:0; 
	padding:0; 
}

header{
    height:800px;
    color:white;
    background-color:white;
    background-image:url(./resources/images/photos/image-header.jpg);
    background-size: auto 100%;
    background-position:center;
    margin:0;
    .haut{
        padding:5vw;
        display:flex;
        justify-content:space-between;
        ul{
            display:none;
        }
    }
    h1{
        text-align: center;
        font-family: Fraunces, serif;
        font-size: 4em;
        padding-top: 10vw;
    }
    .arrow{
        display:block;
        margin:auto;
        height: 150px;
    }
}

.bloc_image{
    width:100vw;
    img{
    width:100%;
    }
}

.bloc_texte{
    //width:100vw;
    padding: 10vw 5vw 10vw 5vw;
    text-align: center;
    h2{
        font-family:Fraunces, serif;
        font-size:3em;
    }
    p{
        font-family:Barlow, 'Times New Roman', Times, serif;
    }
    .lien{
        text-transform: uppercase;
    }
}