@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');

html, body{ 
	margin:0; 
	padding:0; 
    }

header{
    height:1000px;
    color:white;
    background-color:white;
    background-image:url(./resources/images/photos/image-header.jpg);
    background-size: auto 100%;
    background-position:center;
    margin:0;
    
    .haut{
        padding:50px;
        display:flex;
        justify-content:space-between;
        .logo{
            height:6vw;
            max-height:50px;
        }
        .menu{
            display: none;
        }
        .hamb{
            height:20px;
        }
    }
    h1{
        text-align: center;
        font-family: Fraunces, serif;
        font-size: (40/16)*1em;
        text-transform: uppercase;
        letter-spacing: 6.25px;
        padding-top: 100px;
    }
    .arrow{
        padding:50px;
        display:block;
        margin:auto;
        height: 150px;
    }
}

.bloc_image{
    width:100vw;
    img{
    width:100%;
    display:block;
    }
}

.bloc_texte{
    padding: 5vw 5vw 5vw 5vw;
    text-align: center;
    h2{
        font-family:Fraunces, serif;
        font-size:(40/16)*1em;
        color:#24303E;
        }
    p{
        font-family:Barlow, serif;
        font-size:1.5em;
        letter-spacing:-0.12;
        line-height: (33/16)*1em;
        color:#808397;
    }
    .lien{
        font-family:Fraunces, serif;
        font-size:1.4em;
        text-transform: uppercase;
        line-height: 6em;
        color:#24303E;
    }
}

.photo_texte{
    text-align:center;
    .bloc_texte_image1{
        height:730px;
        background-image:url(./resources/images/photos/image-graphic-design-cerises.jpg);
        background-position:center;
        background-size : cover;
        color: #24554A;
        h3{
            font-family:Fraunces, serif;
            font-size:(28/16)*1em;  
            padding-top:500px;  
            margin:0;
        }
        p{
            padding-left:30px;
            padding-right:30px;
            font-family: Barlow,serif;
            font-size:1em;
            line-height: (27/16)*1em;
            letter-spacing:-0.11;
        }
    }
    .bloc_texte_image2{
        height:730px;
        background-image:url(./resources/images/photos/image-photography-mandarine.jpg);
        background-position:center;
        background-size : cover;
        color:#19536C;
        h3{
            font-family:Fraunces, serif;
            font-size:(28/16)*1em;  
            padding-top:500px;  
            margin:0;
        }
        p{
            padding-left:30px;
            padding-right:30px;
            font-family: Barlow,serif;
            font-size:1em;
            line-height: (27/16)*1em;
            letter-spacing:-0.11;
        }
    }
}

.photo{
    width:72px;
    border-radius: 36px;
}

.testimonials{
    text-align:center;
    h4{
        font-family:Fraunces, serif;
        text-transform: uppercase;
        color: #A7AAAD;
        letter-spacing: 4px;
        padding:45px;
    }
    p{
        color: #5B636D;
        font-family: Barlow,serif;
        font-size: 18px;
        line-height: 2em;
        letter-spacing: -0.12px;
        padding-left:30px;
        padding-right:30px;
    }
    .nom{
        color: #24303E;
        font-family:Fraunces, serif;
        font-size:(18/16)*1em;
        margin:0px;
        padding:0px;
    }
    .fonction{
        font-family: Barlow,serif;
        font-size:(14/16)*1em;
        color: #A7AAAD;
        padding:0px;
        margin:0px 0px 45px 0px;
    }
}

.gallery{
    display:flex;
    flex-wrap: wrap;
    .bloc_image_gallery{
        width:50vw;
        img{
            width:50vw;
            display:block;
        }
    }
}

footer{
    text-align: center;
    color: #458D7E;
    background-color:#90D4C6;
    .logo{
        img{
        margin:60px;
        width:170px;
        }
    }
    .menu_footer{
        display:flex;
        justify-content:space-around;
        font-family: Barlow,serif;
        font-weight: 600;
    }
    table{
        margin:auto;
        font-size:(18/16)*1em;
        padding:60px;
        td{
            padding: 10px;
        }
    }
}

/*Affichage desktop*/
@media screen and (min-width:1024px) {
    header .haut {
        .menu{
            display:flex;
            justify-content: space-evenly;
            font-family:Barlow, serif;
            width:600px;
            font-size:(18/16)*1em;
            .about, .services, .projects{
                padding:1vw;
            }
            .contact{
                width:100px;
                border-radius: 30px;
                padding:1vw;
                background-color: white;
                color:black;
                font-family:Fraunces, serif;
                text-transform:uppercase;
                text-align: center;
                &:hover{
                    cursor: pointer;
                    color:white;
                    background-color:rgba(255,255,255,0.25);
                }
            }
        }
        .hamb{
            display:none;
        }
    }
    header h1{
        font-size:(56/16)*1em;
        letter-spacing: 8.75px;
        }
    
    
    .transform{
        display:flex;
        flex-direction: row-reverse;
        .bloc_image{
            width:50vw;
            img{
                width:50vw;
                display: block;
            }
        }
        .bloc_texte{
            width:50vw;
            padding: 10vw 5vw 0vw 10vw;
            text-align: left;
            .lien{
                text-decoration: underline;
                text-decoration-color:rgba(250,212,0,0.4);
                text-decoration-style: solid;
                text-decoration-thickness:0.4em;
                &:hover{
                    cursor: pointer;
                    text-decoration-color:rgba(250,212,0,1);
                }
            }
        }
    }
    .stand_out{
        display:flex;
        .bloc_image{
            width:50vw;
            img{
                width:50vw;
                display: block;
            }
        }
        .bloc_texte{
            width:50%;
            padding: 10vw 5vw 0vw 10vw;
            text-align: left;  
            .lien{
                text-decoration: underline;
                text-decoration-color:rgba(254,119,102,0.4);
                text-decoration-style: solid;
                text-decoration-thickness:0.4em;
                &:hover{
                    cursor: pointer;
                    text-decoration-color:rgba(254,119,102,1);
                }
            }
        }
    }
    .photo_texte{
        display:flex;
        .bloc_texte_image1, .bloc_texte_image2{
            width:50vw;
            p{
                width:25vw;
                margin:auto;
            }
        }
        
    }
   
}